<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiong.mapper.DepartMapper">
    <select id="selectAll" resultType="com.xiong.pojo.Depart">
        select d.id,d.departname,d.status,w.name as leader from depart d join worker w on d.leader = w.id
    </select>

    <select id="selectAllStatus" resultType="com.xiong.pojo.Depart">
        select * from depart where status = 1
    </select>

    <select id="selectByName" parameterType="String" resultType="com.xiong.pojo.Depart">
        select * from depart where departname like concat('%',#{departname},'%')
    </select>

    <select id="selectName" parameterType="String" resultType="com.xiong.pojo.Depart">
        select * from depart where departname=#{departname}
    </select>

    <select id="selectById" parameterType="Integer" resultType="com.xiong.pojo.Depart">
        select * from depart where id=#{id}
    </select>

    <select id="selectDepartById" resultType="com.xiong.pojo.Depart">
        select d.id,d.departname,d.status,w.name as leader from depart d join worker w on d.leader = w.id where d.id=#{id}
    </select>

    <insert id="insertDepart" parameterType="com.xiong.pojo.Depart">
        insert into depart(departname,leader,status) values(#{depart.departname},#{depart.leader},#{depart.status})
    </insert>

    <update id="updateDepart" parameterType="com.xiong.pojo.Depart">
        update depart set departname=#{depart.departname},leader=#{depart.leader} where id=#{depart.id}
    </update>

    <update id="updateDepartLeader" parameterType="com.xiong.pojo.Depart">
        update depart set leader=#{depart.leader} where id=#{depart.id}
    </update>

    <update id="updateStatus" parameterType="com.xiong.pojo.Depart">
        update depart set status=#{status} where id=#{id}
    </update>
    <update id="updateDepartName" parameterType="com.xiong.pojo.Depart">
        update depart set departname=#{depart.departname} where id=#{depart.id}
    </update>

    <delete id="deletePost">
        delete from depart where id=#{id}
    </delete>
</mapper>