<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiong.mapper.UserMapper">
    <select id="selectAll" resultType="com.xiong.pojo.User">
        select * from t_user
    </select>

    <select id="selectByName" parameterType="String" resultMap="userMap">
        select * from t_user where name=#{name}
    </select>

    <resultMap id="userMap" type="com.xiong.pojo.User">
        <id column="id" property="id"></id>
        <result column="name" property="name"></result>
        <result column="password" property="password"></result>
        <result column="role_id" property="roleId"></result>
    </resultMap>


    
    <select id="getRoles" parameterType="String" resultType="String">
        select
            r.rolename
        from t_role r left join t_user u on r.id = u.role_id
                      left join t_permission p on r.id = p.role_id
        where name =#{name}
    </select>

    <select id="getPermissions" parameterType="String" resultType="String">
        select
            p.permissionname
        from t_role r left join t_user u on r.id = u.role_id
                      left join t_permission p on r.id = p.role_id
        where name =#{name}
    </select>

    <insert id="insertUser" parameterType="com.xiong.pojo.User">
        insert into t_user(name,password) values(#{name},#{password})
    </insert>

    <delete id="deleteUser" parameterType="com.xiong.pojo.User">
        delete from t_user where name=#{name}
    </delete>

    <update id="updatePassWord" parameterType="com.xiong.pojo.User">
        update t_user set password=#{password} where name=#{name}
    </update>
</mapper>