<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiong.mapper.WorkerMapper">
    <select id="selectAll" resultMap="WorkerMap">
        select * from worker
    </select>

    <select id="selectAllStatus" resultType="com.xiong.pojo.Worker">
        select id,name from worker where status != 2
    </select>

    <select id="selectPage" resultType="com.xiong.pojo.Worker">
        select * from worker
    </select>

    <select id="selectByName" parameterType="String" resultMap="WorkerMap">
        select * from worker where name like concat('%',#{name},'%')
    </select>

    <select id="selectByUserName" parameterType="String" resultMap="WorkerMap">
        select * from worker where username=#{username}
    </select>

    <select id="selectId" parameterType="String" resultType="Integer">
        select id from worker where username=#{username}
    </select>

    <resultMap id="WorkerMap" type="com.xiong.pojo.Worker">
        <id column="id" property="id"></id>
        <result column="name" property="name"></result>
        <result column="username" property="username"></result>
        <result column="password" property="password"></result>
        <result column="department" property="department"></result>
        <result column="post" property="post"></result>
        <result column="remarks" property="remarks"></result>
        <result column="role_id" property="roleId"></result>
        <result column="status" property="status"></result>
    </resultMap>


    
    <select id="getRoles" parameterType="String" resultType="String">
        select
            r.rolename
        from role r left join worker w on r.id = u.role_id
        where username =#{username}
    </select>

    <select id="getPermissions" parameterType="String" resultType="String">
        select
            p.perms
        from t_role r left join t_user u on r.id = u.role_id
                      left join t_permission p on r.id = p.role_id
        where name =#{name}
    </select>

    <insert id="insertUser" parameterType="com.xiong.pojo.Worker">
        insert into worker(name,username,password,department,post,remarks,role_id,status)
        values(#{worker.name},#{worker.username},#{worker.password},#{worker.department},#{worker.post},#{worker.remarks},#{worker.role.rolename},#{worker.status})
    </insert>

    <delete id="deleteUser" parameterType="com.xiong.pojo.Worker">
        delete from worker where id=#{id}
    </delete>

    <update id="updatePassWord" parameterType="com.xiong.pojo.Worker">
        update worker set password=#{password} where username=#{username}
    </update>
</mapper>