<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主界面</title>
</head>
<body>
<h3>Hello World</h3>
<ul>
    <li id="nav1"><a href="/user/selectAll">查询所有</a></li>
    <li id="nav2"><a href="/user/select">查询</a></li>
    <li id="nav3"><a href="/user/delete">删除</a></li>
    <li id="nav4"><a href="/user/insert">插入</a></li>
    <li id="nav5"><a href="/user/update">修改</a></li>

    <li id="nav6"><a href="/employee/add">测试员工增加</a></li>
    <li id="nav7"><a href="/employee/insert">测试员工插入</a></li>
    <li id="nav8"><a href="/employee/delete">测试员工删除</a></li>
</ul>
</body>
</html>