<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.thymeleaf.org/thymeleaf-extras-shiro">
<head>
    <meta charset="UTF-8">
    <title>主界面</title>
</head>
<body>
<h3>Hello World</h3>
<ul>
    <li id="nav1"><a href="/worker/selectAll">查询所有</a></li>
    <li id="nav2"><a href="/worker/select">查询</a></li>
    <li id="nav3"><a href="/worker/delete">删除</a></li>
    <li id="nav4"><a href="/worker/insert">插入</a></li>
    <li id="nav5"><a href="/worker/update">修改</a></li>

    <div shiro:hasPermission="employee:add"><li id="nav6"><a href="/employee/add">测试员工增加</a></li></div>
    <div shiro:hasPermission="employee:insert"><li id="nav7"><a href="/employee/insert">测试员工插入</a></li></div>
    <div shiro:hasPermission="employee:delete"><li id="nav8"><a href="/employee/delete">测试员工删除</a></li></div>

    <div shiro:hasPermission="employee:delete"><li id="nav9"><a href="/depart/updatestatus">测试修改状态</a></li></div>


</ul>
</body>
</html>